---
version: '2'
services:
  kafka:
    image: confluentinc/cp-kafka:6.2.0
    network_mode: host
    container_name: {{ inventory_hostname }}
    environment:
      KAFKA_BROKER_ID: {{ broker_id }}
      KAFKA_ZOOKEEPER_CONNECT: {{ zk_host1 }}:{{ zk_port1 }}
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://{{ ansible_host }}:{{ kafka_port }}
      KAFKA_NUM_PARTITIONS: 8
      KAFKA_MIN_INSYNC_REPLICAS: 2
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MESSAGE_MAX_BYTES: 10485760 # 10MiB
      KAFKA_HEAP_OPTS: -Xmx1024M -Xms512M
    volumes:
      - kafka_{{ broker_id }}_data:/var/lib/kafka/data
      - /etc/timezone:/etc/timezone:ro

volumes:
    kafka_{{ broker_id }}_data:
      driver: local
      driver_opts:
        type: 'none'
        o: 'bind'
        device: '{{ KAFKA_DATA }}'