---
version: '2'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:6.2.0
    container_name: {{ inventory_hostname }}
    environment:
      ZOOKEEPER_SERVER_ID: {{ zk_id }}
      ZOOKEEPER_CLIENT_PORT: {{ zk_port1 }}
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: {{ zk_host1 }}:2888:3888
    network_mode: host
    volumes:
      - zk_{{ zk_id }}_data:/var/lib/zookeeper/data
      - zk_{{ zk_id }}_log:/var/lib/zookeeper/log
      - /etc/timezone:/etc/timezone:ro

volumes:
    zk_{{ zk_id }}_data:
      driver: local
      driver_opts:
        type: 'none'
        o: 'bind'
        device: '{{ VOLUME_ZK_DATA }}'
    zk_{{ zk_id }}_log:
      driver: local
      driver_opts:
        type: 'none'
        o: 'bind'
        device: '{{ VOLUME_ZK_LOG }}'