[Unit]
Description={{ zk_service_name }} Service
Requires=docker.service
After=network.target docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/opt/{{ zk_service_name }}

ExecStart=/usr/bin/docker-compose -f /opt/{{ zk_service_name }}/docker-compose.yml up -d

ExecStop=/usr/bin/docker-compose -f /opt/{{ zk_service_name }}/docker-compose.yml down

[Install]
WantedBy=multi-user.target